---
import { getCollection } from 'astro:content';
import PostLayout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<PostLayout frontmatter={post.data}>
  <article>
    <h1>{post.data.title}</h1>
    <div>{post.body}</div>
  </article>
</PostLayout>
