---
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map(post => ({
    params: { slug: [post.slug] }, // slug as array for catch-all route
    props: { post }
  }));
}

const slug = Array.isArray(Astro.params.slug)
  ? Astro.params.slug.join('/')
  : Astro.params.slug;
const [post] = await getCollection('posts', ({ slug: s }: { slug: string }) => s === slug);
---
<article>

  <h1>{post.data.title}</h1>

  {post.body}

</article>