---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
const posts = await getCollection('posts');
---
<ul>
  {posts.map((post: CollectionEntry<'posts'>) => (
    <li>
      <a href={`/posts/${post.slug}`}>{post.data.title}</a>
      <time>{post.data.date.toLocaleDateString()}</time>
    </li>
  ))}
</ul>