---
import ArticleList from './ArticleList.astro';

interface Props {
  posts: any[];
}

const { posts } = Astro.props;
---

<main class="content" data-astro-transition="persist">
  <ArticleList 
    articles={posts} 
    mode="list" 
    groupByCategory={false}
    showTags={true}
    showDate={true}
  />
</main>

<style>
  .content {
    flex: 1;
  }
</style>
