---
// 前端代码（可接收 Markdown 的 frontmatter 数据）
const { frontmatter } = Astro.props;
---
<html lang="zh">
<head>
  <title>{frontmatter.title}</title>
</head>
<body>
  <h1>{frontmatter.title}</h1>
  <slot /> <!-- Markdown 内容会插入到这里 -->
</body>
</html>