---
import BaseLayout from './BaseLayout.astro';

export interface Props {
  frontmatter: {
    title: string;
    date: Date;
    category?: string;
    tags?: string | string[];
  }
}

const { frontmatter } = Astro.props as Props;
---

<BaseLayout title={frontmatter.title}>
  <article id="post-content" data-astro-transition="animate">
    <h1>{frontmatter.title}</h1>
    <slot /> <!-- Markdown 内容会插入到这里 -->
  </article>
</BaseLayout>
